# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual env
.venv/
venv/

# Data and models
circrec/
circrec.zip
models/
*.keras
*.h5

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter / Colab
.ipynb_checkpoints/
